.root-main {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */

    padding: 10px;
}
nav a.active {
    text-decoration: underline;
}